:root {
  font-size: 16px;
  line-height: 1.8;
  --lightBlue: #3ca4ff;

  --middleBlue: rgb(19, 47, 76);
  --middleDarkerBlue: rgb(0, 30, 60);
  --darkBlue: rgb(10, 25, 41);
  --darkestBlue: rgb(5, 17, 29);

  --borderBlue: #8eb9e84e;
  --activeBlue: #3ca4ff99;
  --white: #f0f0f7;

  --grey: grey;
  --black: #1d1d1d;
  --yellow: #c5832dc4;
  --fill: #545265;
  --successGreen: #4b8f75;
  --failureRed: #b4557e;
  --inbetweenYellow: rgba(164, 214, 2, 0.682);
  --palletePurple: #221126;
  --palleteBlack: #16091f;
  --palleteYellow: var(--yellow);
  --palleteBlue: #2f67a7;
  --palletePink: #c3b1d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
}

body {
  background-attachment: fixed;
  background-color: black;
}

a {
  font-size: 1.1rem;
  cursor: pointer;
  pointer-events: all !important;
}

p {
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 300;
  color: var(--white);
  font-family: "Roboto Mono", sans-serif;
  line-height: 1.3rem;
}
h1 {
  color: var(--white);
  opacity: 0.8;
  font-size: 2rem;
}
h2 {
  color: var(--white);
  font-weight: 900;
}

h3,
h4,
h5 {
  color: var(--lightBlue);
  font-weight: 700;
}

h6 {
  color: var(--lightBlue);
  font-weight: 600;
  font-size: 0.7rem;
}

svg {
  vertical-align: middle;
}

.app {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to top, #111d25, rgb(15, 20, 24));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.glass {
  height: 97vh;
  max-width: 99%;
  width: 800px;
  max-height: 700px;
  border-radius: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.237);
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

.glassActive {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* background: var(--darkestBlue); */
  background: linear-gradient(to top, #111d25, rgb(15, 20, 24));
  /* background: linear-gradient(var(--darkBlue), #240922); */
  background: rgb(29, 36, 42);
}

.glassActive::-webkit-scrollbar {
  display: none;
}

nav {
  height: 2.5rem;
  min-height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav div {
  cursor: pointer;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  transition: all 0.4;
  border-radius: 1rem 1rem 0 0;
  /* background-color: rgb(15, 20, 24); */
  background-color: inherit;
  z-index: 10000;
  color: var(--grey);
  padding-left: 1rem;
}

nav div svg {
  transition: all 0.4;
}

.nav-tab-active {
  border-bottom: 1px solid var(--yellow);
  color: var(--white);
  background-color: rgb(29, 36, 42);
  cursor: default;
}

.nav-tab-active span {
  color: var(--white);
}

nav div span {
  color: var(--grey);
  font-size: 0.8rem;
  transition: all 0.4;
  margin-left: 0.4rem;
}
.nav-tab-inactive:hover,
.nav-tab-inactive:hover span,
.nav-tab-inactive:hover svg {
  color: rgb(175, 175, 175);
  transition: all 0.4;
  background-color: rgb(20, 27, 32);
}

.bio {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.bio h2 {
  color: white;
}

.bio img {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 4rem 0 2rem;
}

.bio p {
  margin: 2rem 0 1rem;
  width: 60%;
  line-height: 1.4rem;
  font-size: 0.9rem;
  line-height: 1.8rem;
  opacity: 1;
  font-weight: 200;
}

.more {
  cursor: pointer;
  opacity: 0.8;
}

.contact {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2.5rem 0 0;
}

.contact svg {
  font-size: 1.5rem;
  opacity: 1;
}

.contact-card {
  border-radius: 1rem;
  color: white;
  padding: 1rem 4rem 1rem 2rem;
  width: clamp(300px, 50%, 400px);
}

.contact-card h4 {
  color: rgba(255, 255, 255, 0.877);
}

.contact-card p {
  opacity: 0.95;
  padding: 0.3rem 0 0;
  color: rgba(255, 255, 255, 0.877);
}

.contact-card p svg {
  vertical-align: middle;
  margin: 0.2rem 0;
  margin-right: 0.6rem;
  color: var(--successGreen);
  font-size: 1.2rem;
  opacity: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem;
  z-index: 2;
}

.contact-form label {
  margin-top: 2rem;
  position: relative;
  background-color: transparent;
  font-size: 0.8rem;
  font-family: "Roboto Mono", sans-serif;
  height: 2rem;
}

.contact-form input[type="text"],
textarea {
  font-family: "Roboto Mono", sans-serif;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid var(--lightBlue);
  transition: all 0.2s;
  color: var(--white);
}

textarea {
  font-family: "Roboto Mono", sans-serif;
  resize: none;
  height: 100%;
  padding: 0.4rem 0;
}

.contact-form label span {
  position: absolute;
  left: 0;
  bottom: 0.2rem;
  opacity: 0.7;
  z-index: 0;
}

.contact-form-span-active {
  color: var(--yellow);
  font-size: 0.7rem;
  top: -1rem;
  bottom: auto;
}

.contact-form input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--yellow);
}

.contact-form input[type="submit"] {
  color: var(--white);
  border-radius: 0.2rem;
  margin: 1rem 0;
  padding: 1rem;
  width: 50%;
  cursor: pointer;
  font-family: "Roboto Mono", sans-serif;
  border: none;
  transition: all 0.3s;
}

.contact-form input[type="submit"]:hover {
  filter: brightness(0.9);
}

.contact-form input[type="submit"]:active {
  transform: scale(1.05);
}
.projects {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background: linear-gradient(to top, #0d39643a, #9eacb14f); */
  background: transparent;
}

.headline {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: rgb(15, 20, 24);
  z-index: 10;
  color: var(--white);
  font-size: 0.6rem;
}

.headline-line {
  position: relative;
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.crunchrocket {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  color: rgb(212, 212, 212);
  max-width: 33%;
  text-align: center;
}

.headline-buttons-left svg {
  margin-right: 0.2rem;
}

.headline-buttons-left svg:nth-child(1) {
  color: lightblue;
  cursor: pointer;
}
.headline-buttons-left svg:nth-child(2) {
  color: var(--lightBlue);
}
.headline-buttons-left svg:nth-child(3) {
  color: var(--successGreen);
  color: var(--palleteBlue);
  /* filter: brightness(.5); */
}

.headline svg {
  font-size: 1.2rem;
}

.social-icons svg {
  color: lightblue;
  cursor: pointer;
  margin: 0.2rem;
  font-size: 1.3rem;
}

.social-icons svg:hover {
  filter: brightness(1.1);
}

.headline h2 {
  position: relative;
  color: #85b1d4;
  color: var(--yellow);
  font-size: 2rem;
}

.minibrowser {
  position: relative;
  width: 8rem;
  height: 8rem;
  border: solid rgba(245, 222, 179, 0.352);
  border-radius: 1rem;
  padding: 0 0.8rem;
  z-index: 3;
  cursor: grab;
  background: var(--palleteBlue);
  pointer-events: none;
}

.minibrowser > .headline-buttons-left {
  pointer-events: all;
  cursor: grab;
  z-index: 1;
}

.minibrowser > svg {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  pointer-events: all;
  cursor: pointer;
  z-index: 1;
  fill: var(--successGreen);
}

.minibrowser > svg:hover {
  filter: brightness(0.95);
  transform: rotate(90);
  transition: all 0.4;
}

.projects-view-toggle {
  font-size: 1.8rem;
  color: var(--grey);
  transition: all 0.2 ease-in-out;
  display: flex;
  border-radius: 0.4rem;
  overflow: hidden;
  padding: 0.1rem;
  margin: 0 1rem;
}

.projects-view-toggle svg {
  padding: 0.2rem;
  cursor: pointer;
  border: 1px solid var(--borderBlue);
}

.projects-view-toggle svg:nth-child(1) {
  border-radius: 0.2rem 0 0 0.2rem;
  border-right: none;
}

.projects-view-toggle svg:nth-child(2) {
  border-radius: 0 0.2rem 0.2rem 0;
}

.projects-view-toggle svg:hover {
  color: rgb(179, 179, 179);
}

.carousel {
  position: relative;
  flex: 2;
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
}

.inner-carousel {
  position: absolute;
  height: 100%;
  width: fit-content;
  cursor: grab;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.carousel-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding-bottom: 1.5rem;
}

.carousel-nav svg {
  margin: 0 0.1rem;
  font-size: 0.8rem;
  transition: color 0.2s ease-in-out;
}

.project-cards {
  margin: 4rem 0 0;
}

.project {
  position: relative;
  border-radius: 1rem;
  width: 80%;
  height: 10rem;
  cursor: pointer;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: left;
  margin: 0 auto 4rem;
  border: 1px solid var(--borderBlue);
  overflow: hidden;
  padding: 0 2rem 0 0;
}

.project img {
  height: 10rem;
  min-width: 10rem;
  object-fit: cover;
  border-radius: 1rem;
  filter: saturate(-1);
}

.project > div {
  display: flex;
  align-items: center;
  width: 100%;
}

.project h3 {
  line-height: 1.5rem;
  width: 50%;
  padding: 0 2rem 0 0;
}

.project p {
  width: 50%;
}

.arrow {
  color: #add8e6;
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  cursor: pointer;
}

.card-back {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  background: var(--middleDarkerBlue);
  background: var(--black);
  padding: 4rem 0;
}

.card-back h2 {
  color: var(--lightBlue);
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.card-back-description {
  height: 100%;
  width: clamp(300px, 50%, 500px);
  text-align: center;
  padding: 0 3rem;
}

.card-back-description p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  opacity: 1;
  font-weight: 100;
}

.card-back-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: clamp(300px, 50%, 500px);
  text-align: center;
  padding: 0 3rem;
  gap: 4rem;
}

.card-back-infos a {
  display: block;
  padding: 1rem 0;
  color: lightblue;
  cursor: pointer;
  word-break: break-all;
  text-decoration: none;
  font-size: 0.9rem;
}

.card-back-infos svg {
  font-size: 1.5rem;
}

.technology {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 1rem 0 0;
}

.technology p {
  cursor: default;
}

.technology div {
  margin: 0 0 5rem;
}

.frontend h3,
.backend h3,
.skills h3 {
  padding: 2rem 0;
}

.frontend,
.backend,
.skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 0rem;
}

.backend {
  flex-wrap: wrap-reverse;
}

.technology svg {
  width: 30%;
  height: 250px;
  min-width: 15rem;
}

@media only screen and (max-width: 600px) {
  .inner-carousel {
    padding: 0 calc(50% - 5rem);
  }

  .app {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .glass {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
    border: none;
  }

  .bio p {
    width: 80%;
  }

  .project {
    border: none;
  }

  .headline {
    background-color: black;
    /* background-color: black; */
  }

  .headline-line {
    height: 4rem;
  }

  nav {
    height: 4rem;
  }

  nav div {
    cursor: pointer;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    transition: all 0.4;
    border-radius: 1rem 1rem 0 0;
    background-color: inherit;
    z-index: 10000;
    color: var(--grey);
    padding-left: 0.5rem;
  }

  nav div span {
    font-size: 0.7rem;
  }

  nav div svg {
    padding: 0.1rem;
    z-index: 0;
    transition: all 0.4;
  }

  .social-icons {
    justify-self: end;
  }

  .social-icons svg {
    font-size: 1.5rem;
  }

  .project > div {
    display: flex;
    flex-direction: column;
  }

  .project h3 {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    width: 100%;
  }

  .project p {
    width: 100%;
  }

  .contact-card {
    width: auto;
  }
  .contact-form {
    width: 100%;
  }
}

.card-back-infos-imgslider {
  height: 10rem;
  width: 20rem;
  position: relative;
  background: #111111;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  object-fit: cover;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: var(--black);
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.card-back-infos-imgslider img {
  position: absolute;
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bg2 {
  position: absolute;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bg2 div {
  width: 20%;
  height: 33%;
}

.bg2 div svg {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2rem;
  fill: white;
}

.bg-open-button {
  cursor: pointer;
}

.bg-open-button svg path {
  fill: #aa71d6;
}

.bg-open-button svg:hover path {
  fill: var(--successGreen);
  transition: all 0.5;
}

#inner path {
  fill: var(--palleteBlue);
}

#toes path {
  fill: var(--palletePink);
}

.loadbar {
  border: solid white;
  width: 100%;
  height: 1.3rem;
  border-radius: 0.4rem;
  margin-top: 1.5rem;
  overflow: hidden;
}

.loadbar .inner {
  background: var(--successGreen);
  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

small {
  margin: 2rem 0;
  color: lightblue;
  font-size: 0.7rem;
  opacity: 0.7;
}
